:root {
    --bg-color:#434662;
}

* {
    margin:0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
}

.title h1 {
    font-family: 'Hubballi', sans-serif;
    font-size: 10em;
    color: white;

    text-align: center;
}